
.buttons .del-btn, .buttons .res-btn {
    width: 150px;
    padding: 0.3rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--font-color);
}

.res-btn:disabled{
  cursor: not-allowed; 

}

.res-btn:disabled:hover{
  color: var(--btn-font-color) !important;


}


.del-btn:disabled{
  background-color: #666666;
  color: #666666; 
  cursor: not-allowed; 
}

.del-btn:disabled:hover{
  color: var(--btn-font-color) !important;
 
}

.res-btn{
    background-color: var(--rest-btn-color) !important;
    color: var(--btn-font-color) !important;
    font-weight: 600;
}

.res-btn:hover{
    color: var(--btn-font-bg-color) !important;
}

.del-btn{
    background-color: var(--del-btn-color) !important;
    color: var(--btn-font-color) !important;
    width: 5rem;
    font-weight: 600;

}

.del-btn:hover{
    color: var(--btn-font-bg-color) !important;
}

.custom-t-container{
  height: 800px;
   max-width: 1150px !important;
   padding-top: 1rem;
   padding-bottom: 1rem;
 
}



.table{
    cursor:pointer;


}

.custom-table{
  margin-bottom: 0 !important;


}

.table td, .table th {
    border-left: none !important;
    border-right: none !important;

  }

  .table-container{
    flex-wrap: nowrap !important;
    gap: 0;
    box-shadow: 0px 4px 10px rgba(50, 53, 55, 0.3);
    padding: 0.5rem;

}

.table-responsive{
  padding-right: 0 !important;
  overflow-y: auto;
  padding-left: 0  !important;
  box-shadow: 0px 4px 10px rgba(50, 53, 55, 0.3);

}

.custom-search-cont{
  padding: 0.5rem;

}

.custom-form{
  padding-left: 0 !important;
  padding-right: 0 !important;

}

.search-input{
  background-color: var(--search-input-bg-color)!important;
  box-shadow: 0px 4px 10px rgba(50, 53, 55, 0.3);

}

.text-search{
  padding-top: 0.5rem;
  box-shadow: 0 0px 6px rgba(191, 188, 188, 0.985);



}

@media (max-width: 1100px) {

    .custom-t-container{
        min-width: 100%;
        /*height: 100%;*/
    }
    .table-container {
      flex-direction: column;
      align-items: center;
   
    }
  
    .custom-aside, .table-responsive {
      display: flex;
      flex-direction: row;
    }
  
    .custom-aside {
      order: 1; 
      min-width: 100%;
    
    }

    .custom-aside > * { /* a gyerekeket felel fele aránybann osztja el a szülő*/
        flex: 1;
        flex-wrap: wrap;
    }
  
    .table-responsive {
      order: 2; 
      width: 100% !important;
    }
  }

  .table-bordered {
    border-bottom: 2px solid #c4b8b8 !important;  
  }

  @media (max-width: 950px) {
    .custom-aside {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    }

    .text-search{
        padding-top: 0.5rem;
    }

    .custom-form{
    flex-wrap: wrap;
    justify-content: center;
    
    }
    .custom-search-cont form {
    flex-grow: 1; 
    }

    .custom-search-cont .buttons {
    flex-shrink: 0; 
    }

  }

  @media (max-width: 795px) {
    .table-responsive {
      /*max-height: 80vh;*/
      overflow-y: auto;
 
    }
    .search-input{
      margin-top: 0.5rem;
    }
  }

