@import './importVariables.css';  


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.rotated {/*elforgatjuk 180 fokban a nyilat a lenyíló menüben*/
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}


.custom{
    cursor: pointer;
    color: var(--hover-font-color)!important;
    background-color: var(--nav-hover-color)!important;



}

.custom-navbar{
    justify-content: space-evenly !important;
  }

.text-white:hover{
    color: var(--hover-font-color)!important;

}

.custom-bg{
    background-color: var(--nav-hover-color)!important;
}

.custom:hover{
    background-color: var(--nav-hover-color)!important;


}

#logo{
    font-family: var(--logo-font-family);
    font-weight: 400;
    font-size: x-large;
  
  }

@media (max-width: 1000px) {
    .custom-navbar {
       margin-top: 0 !important;
       flex-direction:row !important;
       justify-content: space-between !important;
  
      }
  
     .title{
      padding-top: 0 !important;
      padding-left: 0 !important;
      text-align: center;
      margin-top: 2rem;
     }
  
     .container{
      margin-top: 0 !important;
     }
  
    
  
      
  }