@import './importVariables.css';  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-navbar{
  justify-content: space-evenly;
}

.nav-link{
  font-family: var(--nav-font-family)!important;
}

.btn-light {
  background-color: var(--btn-font-bg-color)!important;
  border: none !important;

}
.btn-light:hover {
  background-color: var(--btn-font-bg-color)!important;
  border-color: transparent !important;
}

.input-group .dropdown-menu {
  background-color: var(--nav-hover-color);
  position: absolute;
  top: 100%; /* a dropdown a gomb alá kerüljön */
  left: 0;
  z-index: 1050; /* biztosítja, hogy a menü ne takarja el más elemeket */
  width: 50%; /* biztosítja, hogy a dropdown menü teljes szélességben illeszkedjen az inputhoz */
}

.dropdown-item {
  color: var(--font-color)!important; /* betűszín */
}

.dropdown-item:hover {
  background-color: var(--nav-bg-color)!important; /* Nincs háttérszín változás */
  color: var(--hover-font-color)!important;

}

#btn-title-mobile, #btn-title-user-mobile{
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-right: 1px solid grey !important;
  background-color:  var(--rest-btn-color) !important;
  color: var(--font-color);
}

#search-input-guest, #search-input-user{
  background-color: var(--profile-inp-bg-color);
}



#search{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--profile-inp-bg-color) !important;

}

.search-icon{
  color: #000000;
}

#logo:hover, .nav-link:hover{
  color: var(--hover-font-color)!important;

}

#logo{
  font-family: var(--logo-font-family);
  font-weight: 400;
  font-size: larger;

}

/* Alapértelmezetten rejtve van */
.mobile-menu {
  display: none;
  width: 100%;
}

/*ah az osztály hozzá van adva, akkor jelenik meg a hamburger menüpontjai */
.mobile-menu.active {
  display: block;
}

.custom-navbar{
  justify-content: space-evenly !important;
}

.mobile-search{
  margin-bottom: 0.5rem;
}

@media (max-width: 1000px) {
  .custom-navbar {
      
     margin-top: 0 !important;
     flex-direction:row !important;
     justify-content: space-between !important;

    }

   .title{
    padding-top: 0 !important;
    padding-left: 0 !important;
    text-align: center;
    margin-top: 2rem;
   }

   .container{
    margin-top: 0 !important;
   }

  

    
}






