
.custom-border{
    box-shadow: 0 0px 6px rgba(191, 188, 188, 0.985);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 70vh;

}

.custom-label{
    width: 120px;
    font-weight: 500;
}

.profile-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar-section{
  width: 100px;  
  height: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.upload-button{
  font-size: 2em;
  width: 100%;  /* Kitölti a label szélességét */
  height: 100%;  /* Kitölti a label magasságát */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-input{
  background-color: var(--profile-inp-bg-color) !important;
  border-radius: 0.8rem !important; 

}

.main-profile-admin{
  /*background-color: var(--profil-bg-color);*/
}

#avatar{
  width: 100px;
  height: 100px;  
  border-radius: 50%;
}

.pro-title{
  padding-left: 5rem;
}

@media (max-width: 480px) {
  .custom-border{
    box-shadow: none;
  }

}
