:root{
    --logo-font-family: "Akaya Kanadaka", serif;
    --nav-font-family:"Assistant", serif;
    --bg-color:#ffffff;
    /*--button-color: #78bcb2;*/
    --btn-font-bg-color: #ffffff; /*ikon*/
    --nav-bg-color: #222529;
    --nav-hover-color: #333435;
    --font-color: #ffffff;
    --hover-font-color: #62568b;
    --register-login-bg-color: #7e798e;
    --log-reg-btn-color: #62568b;
    --profile-inp-bg-color: #F3ECF4;
}